In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image
from scipy import stats
from sklearn import linear_model
import statsmodels.api as sm
import numpy as np
from matplotlib.offsetbox import AnchoredText
import statsmodels.formula.api as smf

In [4]:
tda1 = pd.read_csv("/data/KNW/KNW-stage/m.schepers/HCP/TDA_data/TDA_features_HCP_training_20_originalmethod.csv")
tda2 = pd.read_csv("/data/KNW/KNW-stage/m.schepers/HCP/TDA_data/TDA_features_HCP_training_20_othermethod.csv")b

In [6]:
tda1[0:5]

,Subject,Euler_sum,Phase_transition_1,Phase_transition_2,S_entropy_dim0,bc_AUC_dim0,bc_max_dim0,curv_ent_DMN_0.0005,curv_ent_DMN_0.001,curv_ent_DMN_p1high,...,p4cliques_FPN_ent_p2high,p4cliques_FPN_ent_p2low,p4cliques_FPN_sum_p1high,p4cliques_FPN_sum_p1low,p4cliques_FPN_sum_p2high,p4cliques_FPN_sum_p2low,pl_AUC_dim0,top_vec_dim0,total_cliques_sum,triangles_sum
0,HCA7552478,4095.0,NaN,NaN,109.769684,13837.878788,359.0,4.406719,4.404855,4.406719,...,0.0,0.0,0.0,0.0,0.0,0.0,30.899712,0.428545,330159.0,29163.0
1,HCA8657598,4408.0,NaN,NaN,101.721219,16960.101010,359.0,4.374482,4.378752,4.406719,...,0.0,0.0,0.0,0.0,0.0,0.0,31.652883,0.438990,489630.0,31548.0
2,HCA9546594,3933.0,NaN,NaN,109.592090,15250.000000,359.0,4.406719,4.403007,4.406719,...,0.0,0.0,0.0,0.0,0.0,0.0,31.673760,0.439280,779941.0,29751.0
3,HCA7056264,3882.0,NaN,NaN,111.544775,13070.202020,359.0,4.401173,4.369003,4.406719,...,0.0,0.0,0.0,0.0,0.0,0.0,31.130800,0.431750,193140.0,25049.0
4,HCA9044570,4403.0,NaN,NaN,99.601976,16875.252525,359.0,4.406719,4.385173,4.406719,...,0.0,0.0,0.0,0.0,0.0,0.0,30.307648,0.420333,1952731.0,34420.0

In [2]:
tda = pd.read_csv("/Users/minneschepers/Desktop/HCP/TDA_data/TDA_features_HCP_Females_Train_MI.csv")
bd = pd.read_csv("/Users/minneschepers/Desktop/HCP/Behavioral_Data/Females_train.csv")

In [3]:
# Only include subjects from bd which are also in tda
same = bd['subject'].isin(tda['Subject'])
print(same.value_counts())
bd.drop(bd[~same].index, inplace = True)
print(bd.shape)

True    203
Name: subject, dtype: int64
(203, 41)

In [4]:
# Only include subjects from tda which are also in bd
same = tda['Subject'].isin(bd['subject'])
print(same.value_counts())
tda.drop(tda[~same].index, inplace = True)
print(tda.shape)

True    203
Name: Subject, dtype: int64
(203, 128)

In [5]:
# Sort bd by subject and reset index before concatenating
bd.sort_values(by=['subject'], inplace=True)
bd.reset_index(drop=True, inplace=True)
print(bd['subject'])

0      HCA6018857
1      HCA6030645
2      HCA6051047
3      HCA6062456
4      HCA6086470
          ...
198    HCA9914193
199    HCA9938814
200    HCA9953406
201    HCA9956008
202    HCA9992517
Name: subject, Length: 203, dtype: object

In [6]:
# Sort tda by subject and reset index before concatenating
tda.sort_values(by=['Subject'], inplace=True)
tda.reset_index(drop=True, inplace=True)
print(tda['Subject'])

0      HCA6018857
1      HCA6030645
2      HCA6051047
3      HCA6062456
4      HCA6086470
          ...
198    HCA9914193
199    HCA9938814
200    HCA9953406
201    HCA9956008
202    HCA9992517
Name: Subject, Length: 203, dtype: object

In [7]:
# Concatenate bd and tda into df
print(bd.shape)
print(tda.shape)
df = pd.concat([bd, tda], axis=1)
print(df.shape)

(203, 41)
(203, 128)
(203, 169)

In [8]:
# Create EF (executive functioning column) as mean of flanker and dccs
df['EF_age'] = df[['flanker_age', 'dccs_age']].mean(axis=1)
df['EF_unadjusted'] = df[['flanker_unadjusted', 'dccs_unadjusted']].mean(axis=1)

# Order bd columns in lists
age_adjusted = [i for i in bd.columns if '_age' in i]
age_adjusted.append('EF_age')
age_adjusted.append('age_years')
unadjusted = [i for i in bd.columns if '_unadjusted' in i]
unadjusted.append('EF_unadjusted')
natper = [i for i in bd.columns if '_np' in i]
subject_information = ['subject',  'sex', 'age_months']
WM = ['lswmt_unadjusted', 'lswmt_age']
EF = ['dccs_unadjusted', 'dccs_age',
       'flanker_unadjusted', 'flanker_age',
      'EF_unadjusted', 'EF_age']

In [9]:
# Order tda columns in lists
tda_features = tda.columns[1:]

DMN_curvatures = [i for i in tda_features if 'DMN' in i if 'curv' in i]
FPN_curvatures = [i for i in tda_features if 'FPN' in i if 'curv' in i]
all_curvatures = [i for i in tda_features if 'all' in i if 'curv' in i]
p3_cliques = [i for i in tda_features if 'p3cliques' in i]
p4_cliques = [i for i in tda_features if 'p4cliques' in i]
global_features = [i for i in tda_features if i not in DMN_curvatures if i not in FPN_curvatures if i not in all_curvatures if i not in p3_cliques if i not in p4_cliques]

WM_age = ['lswmt_age']
EF_age = ['dccs_age', 'flanker_age', 'EF_age']
all_kur = [i for i in tda_features if 'kur' in i]
all_skew = [i for i in tda_features if 'skew' in i]
all_std = [i for i in tda_features if 'std' in i]
all_ent = [i for i in tda_features if 'curv_ent' in i]

In [10]:
to_include = age_adjusted + unadjusted

In [11]:
# Only include age_adjusted, and then add subject column
df_no_nan = df[to_include]
df_no_nan['subject'] = list(df['subject'])
df_no_nan['EF_unadjusted'] = list(df['EF_unadjusted'])
print(df_no_nan.shape)

(203, 26)

<ipython-input-11-3ffb2cdb13d0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_nan['subject'] = list(df['subject'])
<ipython-input-11-3ffb2cdb13d0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_nan['EF_unadjusted'] = list(df['EF_unadjusted'])

In [12]:
# Show number of non_nan_values per column
df_no_nan.count()

fluidcog_age                175
crystalcog_age              174
earlychildcog_age           175
totalcog_age                175
dccs_age                    176
flanker_age                 176
lswmt_age                   176
orrt_age                    176
pcps_age                    176
picseq_age                  176
pvt_age                     176
EF_age                      176
age_years                   203
fluidcog_unadjusted         182
crystalcog_unadjusted       181
earlychildcog_unadjusted    182
totalcog_unadjusted         182
dccs_unadjusted             183
flanker_unadjusted          183
lswmt_unadjusted            183
orrt_unadjusted             183
pcps_unadjusted             183
picseq_unadjusted           183
pvt_unadjusted              183
EF_unadjusted               183
subject                     203
dtype: int64

In [13]:
# Drop all nan values
df_no_nan = df_no_nan.dropna()

In [14]:
# Add tda data to df_no_nan
same = tda['Subject'].isin(df_no_nan['subject'])
tda.drop(tda[~same].index, inplace = True)

In [15]:
# Sort tda data and reset index
tda.sort_values(by=['Subject'], inplace=True)
tda.reset_index(drop=True, inplace=True)
# Sort df and reset index
df_no_nan.sort_values(by=['subject'], inplace=True)
df_no_nan.reset_index(drop=True, inplace=True)

# Merge dataframes
print(df_no_nan.shape)
print(tda.shape)
df_no_nan = pd.concat([df_no_nan, tda], axis=1)
print(df_no_nan.shape)

(173, 26)
(173, 128)
(173, 154)

In [16]:
df_no_nan.to_csv('/Users/minneschepers/Desktop/HCP/Data/Females_MI_exp.csv', index=False)

In [17]:
test = pd.read_csv('/Users/minneschepers/Desktop/HCP/Data/Females_MI_exp.csv')
test.shape

(173, 154)